<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Clouduboy!</title>
    <meta name="description" content="Games on microcontrollers using Clouduboy & Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <canvas class="microcanvas" width="96" height="64"></canvas>

    <!-- PixelData lib: https://clouduboy.github.io/microcanvas-pixeldata/explorer/ -->
    <script src="https://clouduboy.github.io/microcanvas-pixeldata/pixeldata.js"></script>
    <!-- MicroCanvas lib: https://clouduboy.github.io/microcanvas/ -->
    <script src="https://clouduboy.github.io/microcanvas/microcanvas.js"></script>
    <!-- Advanced editor features -->
    <script src="/editor.js"></script>

    
    <!-- your game! -->
    <script id="game" src="<!--GAME-->"></script>
  </body>
</html>
