html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow:hidden;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;

  width: 60vw;
}

body > button {
  font-size: 0;
  border: 5px solid #a0d;
  background-color: #d0a;
  padding: 30px;
  margin: 10px;

  position: absolute;
  bottom: 0;
  right: 0;
  
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

button.compile {
  background-image: url(https://cdn.glitch.com/12d2134a-eeea-40b9-b810-182d8ae246ab%2Fcompile-button.png?1529679484659);
}
button.paint {
  background-image: url(https://cdn.glitch.com/12d2134a-eeea-40b9-b810-182d8ae246ab%2Fpaint-button.png?1529679484365);
  right: 90px;
}

button:hover, button:focus, button:active {
  border: 5px solid white;
}

body > button[disabled] {
  opacity: .1;
}



.pixeledit {
  position: absolute;
  height: 10em;
  background-color: rgba(0,0,0,.85);
  border: 50vmax solid rgba(0,0,0,.85);
}

.pixeledit li {
  width: 16em;
  margin-bottom: .5em;
}
.pixeledit button {
  width: 100%;
  border: 5px solid rgba(96, 200, 0, 1);
  background: rgba(128, 212, 60, 1);

  display: flex;
  align-items: center;
  justify-content: center;
}
.pixeledit button {}

.pixeledit button svg {
  height: 2em;
  max-width: 4em;
  flex-grow: 0;
  margin: .25em;
}

.pixeledit button span {
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: .9em;
  letter-spacing: -.025em;
  flex: 1;
}